<!-- <h2>Tree View Component</h2> -->
<!-- <div class="content-block dx-card"> -->
<!-- <div> -->
<dx-tree-list #dataGrid
  id="data"
  [dataSource]="data"
  rootValue="-1"
  keyExpr="ID"
  [showRowLines]="showRowLines"
  [showBorders]="showBorders"
  [parentIdExpr]="parentIdField"
  [expandedRowKeys]="expandedRowKeys"
  [columnAutoWidth]="false"
>
  <dxo-search-panel [visible]="showSearchFied" [width]="250"></dxo-search-panel>
  <dxo-sorting [mode]="sortMode" allowSorting="false"></dxo-sorting>
  <dxo-row-dragging
    [onDragChange]="onDragChange"
    [onReorder]="onReorder"
    [allowDropInsideItem]="allowDropInsideItem"
    [allowReordering]="allowReordering"
    [showDragIcons]="showDragIcons"
  ></dxo-row-dragging>

  <dxo-scrolling mode="standard"></dxo-scrolling>
  <dxo-paging [enabled]="allowpagination" [pageSize]="5"> </dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20]"
    [showInfo]="true"
  >
  </dxo-pager>

  <dxo-editing
    mode="row"
    caption="Actions"
    [allowUpdating]="allowEdit"
    [allowDeleting]="allowDelete"
    [useIcons]="true"
  ></dxo-editing>
  <!--
  <dxi-column dataField="Title" caption="Position"></dxi-column>
  <dxi-column dataField="Full_Name"></dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxi-column dataField="State"></dxi-column>
  <dxi-column dataField="Mobile_Phone"></dxi-column>
  <dxi-column dataField="Hire_Date" dataType="date"></dxi-column> -->
</dx-tree-list>
